{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste doc</h1>

    {# lien pour créer un dossier #}
    {% if session.role_id == 1 or session.role_id == 2 %}
        <a href="controleur.php?page=documents&action=uploadedToday">Créer</a>
    {% endif %}

    <form method="POST" action="controleur.php?page=documents&action=read">
        <!-- Filtre par date -->
        <label for="date">Année :</label>
        <select id="date" name="date">
            <option value="">Toutes les années</option>
            {% for year in availableDates %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Appliquer">
    </form>

    <!-- Formulaire de recherche -->
    <input type="text" id="search" placeholder="Rechercher...">

    <!-- Ici, nous allons afficher les documents -->
    <table id="documents-container">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Lien</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category_name, documents in documentsByCategory %}
                {% for document in documents %}
                <tr>
                    <td class="px-6 py-4">
                        {{ document.idt_doc }}
                    </td>
                    <td class="px-6 py-4">
                        {{ document.titre }}
                    </td>
                    <td class="px-6 py-4">
                        {{ document.link }}
                    </td>
                    <td class="px-6 py-4">
                        {{ document.type_doc }}
                    </td>
                    <td class="px-6 py-4">
                        action
                    </td>
                </tr>
                   
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination flex justify-between items-center mt-4">
        <div class="w-40 flex items-center justify-between">
            <button id="prev-btn" class="px-1 py-1 text-blue-600 rounded hover:bg-blue-50 border border-blue-300 transition duration-200">
                <!-- SVG pour le bouton "Précédent" -->
            </button>
            <span id="page-indicator" class="text-xs"></span>
            <button id="next-btn" class="px-1 py-1 text-blue-600 rounded hover:bg-blue-50 border border-blue-300 transition duration-200">
                <!-- SVG pour le bouton "Suivant" -->
            </button>
        </div>
    
        <div class="flex items-center">
            <label for="page-select" class="mr-2 text-xs">Aller à la page :</label>
            <input type="number" id="page-select" min="1" max="{{ totalPages }}" value="1" class="w-10 border border-blue-300 rounded px-2 py-1">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        var documents = {{ documentsByCategory|json_encode|raw }};
        var perPage = 10; // Nombre d'éléments par page

        // Aplatir le tableau des documents
        var flatDocuments = [].concat.apply([], Object.values(documents));

        var totalPages = Math.ceil(flatDocuments.length / perPage);

        function updatePageIndicator() {
            var currentPage = $('#page-select').val();
            $('#page-indicator').text(currentPage + ' / ' + totalPages);
        }

        $('#prev-btn').click(function() {
            var currentPage = $('#page-select').val();
            if (currentPage > 1) {
                $('#page-select').val(currentPage - 1);
                updateDocuments();
                updatePageIndicator();
            }
        });

        $('#next-btn').click(function() {
            var currentPage = $('#page-select').val();
            if (currentPage < totalPages) {
                $('#page-select').val(+currentPage + 1);
                updateDocuments();
                updatePageIndicator();
            }
        });

        $('#page-select').change(function() {
            updateDocuments();
            updatePageIndicator();
        });

        

        var titles = [];
        {% for category_name, documents in documentsByCategory %}
            {% for document in documents %}
                titles.push("{{ document.titre }}");
            {% endfor %}
        {% endfor %}

        $("#search").autocomplete({
            source: titles
        });
    </script>

{% endblock %}