{% extends 'base.html.twig' %}

{% block body %}
    {# <a href="#" id="link1" class="active">Gestion comptes</a>
    <a href="#" id="link2">Gestion categories</a>
    <a href="#" id="link3">Gestion communes</a> #}

    <div class="p-4 flex justify-between items-center">
        <div class="flex justify-center items-center">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.7274 20.9471C19.2716 19.6713 18.2672 18.5439 16.8701 17.7399C15.4729 16.9358 13.7611 16.5 12 16.5C10.2389 16.5 8.52706 16.9358 7.12991 17.7399C5.73276 18.5439 4.72839 19.6713 4.27259 20.9471" stroke="#33363F" stroke-width="2" stroke-linecap="round"/>
                <circle cx="12" cy="8.5" r="4" stroke="#33363F" stroke-width="2" stroke-linecap="round"/>
            </svg>
            <h1 class="text-2xl font-bold mt-1 ml-2">Liste des comptes</h1>
        </div>
    
        <div class="flex justify-between items-center">
            {% if session.username is defined %}
            <div class="mr-2">
                <p>{{session.username}}</p>
                <div class="flex flex-row-reverse">
                    {% if session.role_id == 1 %}
                    <p class="text-zinc-600 text-xs font-light">Admin</p>
                    {% else %}
                    <p>Gestionnaire</p>
                    {% endif %}
                </div>
            </div>
            <img src="img/pfp.png" alt="" class="w-12 h-12 rounded-full">
            {% endif %}
        </div>
    </div>


    <main class="w-full h-5/6 flex flex-col justify-start items-center mt-4">
        <div class="w-10/12 p-8 border-solid border border-gray-200 bg-neutral-50 rounded-md shadow-lg">
            <div class="border-b border-neutral-200 mb-4">
                <a href="controleur.php?page=user&action=create"><h3 class="inline-block mb-4 px-4 py-2 text-green-600 rounded hover:bg-green-50 border border-green-600 transition duration-200 cursor-pointer">Ajouter un utilisateur</h3></a> 
            </div>
            <div class="sm:rounded-t-lg mb-4">
                <table class="w-full text-sm text-left rtl:text-right ">
                    <thead class=" text-xs uppercase bg-gray-200  ">
                        <tr>
                            <th scope="col" class="px-6 py-4">
                                Id
                            </th>
                            <th scope="col" class="px-6 py-4">
                                Email
                            </th>
                            <th scope="col" class="px-6 py-4">
                                Username
                            </th>
                            <th scope="col" class="px-6 py-4">
                                Role
                            </th>
                            <th scope="col" class="px-6 py-4">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        {# {% if user.id != session.id %} #}
                        <tr class="commune-item odd:bg-neutral-50 even:bg-gray-100">
                            <td class="px-3 py-1" data-id="{{ user.id }}" data-field="id">
                                {{ user.id }}
                            </td>
                            <td class="px-3 py-1" data-id="{{ user.id }}" data-field="id">
                                <span class="editable border border-gray-200 px-4 py-2 rounded" data-id="{{ user.id }}" data-field="email">
                                    {{ user.email }}
                                </span>
                            </td>
                            <td class="px-3 py-1" data-id="{{ user.id }}" data-field="id">
                                <span class="editable border border-gray-200 px-4 py-2 rounded" data-id="{{ user.id }}" data-field="username">
                                    {{ user.username }}
                                </span>
                            </td>
                            <td class="editable px-3 py-1" data-id="{{ user.id }}" data-field="id" >
                                <select class="role-select px-4 py-2 text-blue-600 rounded border border-gray-400" data-id="{{ user.id }}" data-field="role_id" disabled>
                                    <option selected disabled>Choisissez le rôle</option>
                                    {% for role in roles %}
                                    <option value="{{ role.id }}" {% if role.id==user.role_id %}selected{% endif %}>{{ role.role }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
            
                            <td class="px-6 py-4" data-id="{{ user.id }}" data-field="id">
                                {% if session.role_id == 1 %}
                                <button class="edit-btn mr-2 px-4 py-2 text-green-600 rounded hover:bg-green-600 hover:text-white border border-green-600 transition duration-200 cursor-pointer" data-id="{{ user.id }}">Modifier</button>
                                <button class="save-btn mr-2 px-4 py-2 text-green-600 rounded hover:bg-green-600 hover:text-white border border-green-600 transition duration-200 cursor-pointer" data-id="{{ user.id }}" style="display: none;">Valider</button>
                                <a class="delete-btn mr-2 px-4 py-2 text-red-600 rounded hover:bg-red-600 border hover:text-white border-red-600 transition duration-200 cursor-pointer" href="controleur.php?page=user&action=delete&id={{user.id}}">Supprimer</a>
                                <button class="cancel-btn mr-2 px-1 py-1 text-red-600 rounded hover:bg-red-100 border hover:text-white border-red-600 transition duration-200 cursor-pointer" data-id="{{ user.id }}" style="display: none;">
                                    <svg width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_234_2381)">
                                        <path d="M13.5 0.5L0.5 13.5" stroke="red" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M0.5 0.5L13.5 13.5" stroke="red" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_234_2381">
                                        <rect width="14" height="14" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                        
                                </button>
                                <p class="message" data-id="{{ user.id }}" style="display: none;"></p>
                                {% endif %}
                            </td>
                        </tr>
                        {# {% endif %} #}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination flex justify-between items-center mt-4">
                <div class="w-40 flex items-center justify-between">
                    <button id="prev-btn" class="px-1 py-1 text-blue-600 rounded hover:bg-blue-50 border border-blue-300 transition duration-200">
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.4415 4.94L9.50146 4L5.50146 8L9.50146 12L10.4415 11.06L7.38813 8L10.4415 4.94Z" fill="blue" fill-opacity="0.54"/>
                            </svg>
                    </button>
                    <span id="page-indicator" class="text-xs"></span>
                    <button id="next-btn" class="px-1 py-1 text-blue-600 rounded hover:bg-blue-50 border border-blue-300 transition duration-200">
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.83453 4L5.89453 4.94L8.94786 8L5.89453 11.06L6.83453 12L10.8345 8L6.83453 4Z" fill="blue" fill-opacity="0.54"/>
                            </svg>
                    </button>
                </div>

                <div class="flex items-center">
                    <label for="page-select" class="mr-2 text-xs">Aller à la page :</label>
                    <input type="number" id="page-select" min="1" max="{{ totalPages }}" value="1" class="w-10 border border-blue-300 rounded px-2 py-1">
                </div>
            </div>
        </div>
    </main>

    {# <div id="content2" style="display: none;">
        <h1>OUI</h1>
    </div>
    <div id="content3" style="display: none;">
        <h1>NON</h1>
    </div> #}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#link1").click(function(){
                $("#content1").show();
                $("#content2").hide();
                $("#content3").hide();
                $(".active").removeClass("active");
                $(this).addClass("active");
            });
    
            $("#link2").click(function(){
                $("#content1").hide();
                $("#content2").show();
                $("#content3").hide();
                $(".active").removeClass("active");
                $(this).addClass("active");
            });
    
            $("#link3").click(function(){
                $("#content1").hide();
                $("#content2").hide();
                $("#content3").show();
                $(".active").removeClass("active");
                $(this).addClass("active");
            });
    
            $(".edit-btn").click(function(){
                var id = $(this).data('id');
                $('td > .editable[data-id="' + id + '"]').attr('contenteditable', 'true').removeClass('border-gray-200').addClass('border-blue-500');
                $('.role-select[data-id="' + id + '"]').prop('disabled', false).removeClass('border-gray-200').addClass('border-blue-500');
                $(this).hide();
                $('.save-btn[data-id="' + id + '"]').show();
                $('.delete-btn[data-id="' + id + '"]').hide();
                $('.cancel-btn[data-id="' + id + '"]').show();
            });
    
            $(".cancel-btn").click(function(){
                var id = $(this).data('id');
                $('td > .editable[data-id="' + id + '"]').attr('contenteditable', 'false').removeClass('border-blue-500').addClass('border-gray-200');
                $('.role-select[data-id="' + id + '"]').prop('disabled', true).removeClass('border-blue-500').addClass('border-gray-200');
                $(this).hide();
                $('.delete-btn[data-id="' + id + '"]').show();
                $('.save-btn[data-id="' + id + '"]').hide();
                $('.edit-btn[data-id="' + id + '"]').show();
            });
    
            $(".save-btn").click(function(){
                var id = $(this).data('id');
                var data = {};
                $('td > .editable[data-id="' + id + '"]').each(function() {
                    var field = $(this).data('field');
                    data[field] = $(this).text();
                });
                $('.role-select[data-id="' + id + '"]').each(function() {
                    var field = $(this).data('field');
                    data[field] = $(this).val();
                });
            
                $.ajax({
                    url: 'controleur.php?page=admin&action=update&id=' + id,
                    type: 'POST',
                    data: data,
                    success: function(response) {
                        $('.message[data-id="' + id + '"]').hide();
                        Toastify({
                            text: "Modifications enregistrées avec succès !",
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: 'center', 
                            backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                        }).showToast();
                        $('.editable[data-id="' + id + '"]').attr('contenteditable', 'false').removeClass('border-blue-500').addClass('border-gray-200');
                        $('.role-select[data-id="' + id + '"]').prop('disabled', true).removeClass('border-blue-500').addClass('border-gray-200');
                        $('.save-btn[data-id="' + id + '"]').hide();
                        $('.edit-btn[data-id="' + id + '"]').show();
                        $('.cancel-btn[data-id="' + id + '"]').hide();
                        $('.delete-btn[data-id="' + id + '"]').show();
                    },
                    error: function(response) {
                        alert('Erreur lors de la modification de la ligne.');
                    }
                });
            });
    
            var itemsPerPage = 5;
            var items = $("tbody tr");
            var numItems = items.length;
            var numPages = Math.ceil(numItems / itemsPerPage);
    
            items.hide();
            items.slice(0, itemsPerPage).show();
    
            var currentPage = 1;
            updatePage();
    
            $('#prev-btn').click(function() {
                if (currentPage > 1) {
                    currentPage--;
                    updatePage();
                }
            });
    
            $('#next-btn').click(function() {
                if (currentPage < numPages) {
                    currentPage++;
                    updatePage();
                }
            });
    
            $('#page-select').change(function() {
                var selectedPage = $(this).val();
                if (selectedPage >= 1 && selectedPage <= numPages) {
                    currentPage = selectedPage;
                    updatePage();
                }
            });
    
            function updatePage() {
                var startItem = (currentPage - 1) * itemsPerPage;
                var endItem = startItem + itemsPerPage;
                items.css('display', 'none').slice(startItem, endItem).css('display', 'table-row');
                $('#page-indicator').text('Page ' + currentPage + ' sur ' + numPages);
                $('#page-select').val(currentPage);
            }
        });
    </script>
{% endblock %}